/**** base body styles ****/

* {
    box-sizing: border-box;
}

/*** container ****/


.row {
    text-align: center;

}


.container {
    display: inline-block;
    position: relative;
    max-width: 1200px;
    overflow: hidden;
    z-index: 100;
}

.body-text {
    line-height: 30px;
    color: grey;
}

body {
    background: black;
    font-family: 'Roboto', sans-serif;
}


/*** colours ****/


@keyframes toWhite {
    0% { color:  blue }
    100% { color: white }
}


.np-current {
  position: relative;
  color: blue;
  font-weight: 900;
  transition: all .1s;
  animation: toWhite 1s ease forwards;
}


/******** Welcome **********/

#welcome-title {
    font-weight: bold;
    font-size: 23px;
    text-decoration: underline;
}

#welcome-container {
    display: inline-block;
    position: fixed;
    background: white;
    color: black;
    z-index: 1000;
    margin: 50px;
    padding: 25px;
    max-width: 500px;
    line-height: 23px;
    border: 5px solid black;
    max-height: 100vh;
    overflow: auto;
    padding-bottom: 40px;
}

#welcome-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.6);
    z-index: 1000;

}

#welcome-box {
    position: relative;
}

.welcome-box-cross-container {
    text-align: right;
}

.welcome-text-red {
    color: red;
}

.welcome-text-red > i, .welcome-text > i {
    color: white;
    background: black;
    padding: 4px;
}

a {
    color: black;
    font-weight: 900;
}

#welcome-box-cross{
    position: absolute;
    top: 0;
    right: 3px;
    cursor: pointer;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

#click-to-close {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
    cursor: pointer;
    font-style: italic;
    margin-bottom: 20px;
}





/*** search bar ****/

.search {
    display: inline-block;
    overflow: hidden;
    position: fixed;
    right: -300px;
    min-width: 46px;
    background: black;
    border: 8px solid black;
    border-radius: 4px;
    border-top: 0;
    padding-left: 3px;
    transition: right .2s ease-out;
}


.search-open {
    right: 0;
}

.search-open input{
    background: white;
}

.search-open .fa-search{
    cursor: default !important;
}



#search-mag-container, #search-button-container, #search-field-container, #search-times-container {
    display: inline-block;
}

#search-button, #search-field {
    height: 35px;
    margin: 0;
    border: none;
    border-radius: 4px;
    padding: 0 10px;
}

#search-button {
    background-color: lightgray !important;

}


#search-mag-container > i,#search-times-container > i {
    position: relative;
    top: 5px;
    color: white;
    font-size: 2.2em;
    cursor: pointer;
}

#search-field:focus {
    background: white;
    color: black;
}

#search-field {
    transition: all .2s ease;
}

.green-background {
    background: #009688 !important;
    color: white !important;
    font-weight: bold;
}

.red-background {
    background: #FF5252 !important;
    color: white;
    font-weight: bold;
}



/******* Text Edit ********/

.edit {
    display: inline-block;
    overflow: hidden;
    position: fixed;
    top: 44px;
    right: -75px;
    min-width: 46px;
    background: black;
    border: 8px solid black;
    border-radius: 4px;
    border-top: 12;
    transition: right .2s ease-out;
}

.edit-open {
    right: 0;
}

.edit-open #save-button {
    background: lightgrey;
}

#edit-button-container, #save-button-container{
    display: inline-block;
}

#save-button {
    position: relative;
    top: -5px;
    height: 35px;
    margin: 0;
    border: none;
    border-radius: 4px;
    padding: 0 10px;
    background: black;
}


#edit-button-container > i {
    position: relative;
    top: 5px;
    color: white;
    font-size: 2.3em;
    cursor: pointer;
}




textarea {
    min-width: 100vw;
    max-width: 1200px;
    height: 100vh;
}


/******* Volume container ********/

.volume {
    display: inline-block;
    overflow: hidden;
    position: fixed;
    top: 95px;
    right: 0px;
    min-width: 47px;
    background: black;
    border: 8px solid black;
    border-radius: 4px;
    border-top: 12;
    transition: right .2s ease-out;
}

#volume-button-container {
    display: inline-block;
    cursor: pointer;
    color: white;
}


.fa-volume-down {
    color: red;
}

/******* Preset container ********/


.audio-preset {
    display: inline-block;
    overflow: hidden;
    position: fixed;
    top: 140px;
    right: -229px;
    background: black;
    border: 8px solid black;
    border-radius: 4px;
    border-top: 12;
    padding-right: 2px;
    transition: right .2s ease-out;
}

.audio-preset-open {
    right: 0;
}


#audio-button-container, #preset-container, #audio-times-container{
    display: inline-block;
    color: white;
}

#preset-container {
    position: relative;
    top: -2px;
    margin: 0 5px;
}

.preset {
    display: inline-block;
    width: 30px;
    height: 20px;
    border: 1px solid white;

}

.preset-on {
    background: white;
    color: black;
}

.preset, #audio-button, #audio-button-cross {
    cursor: pointer;
}


/******* Info button ********/


.info {
    display: inline-block;
    overflow: hidden;
    position: fixed;
    top: 188px;
    right: 0px;
    min-width: 47px;
    background: black;
    border: 8px solid black;
    border-radius: 4px;
    border-top: 12;
}

#info-button-container {
    display: inline-block;
    cursor: pointer;
}

#info-button-container {
    color: white;
}

/****** Media Queries ******/


@media screen and (min-width: 1200px) {
    #welcome-container {
    top: calc(50vh - 370px);
    left: calc(50vw - 250px)
    }

    #click-to-close {
        display: none;
    }

    .search {
        right: calc(50vw - 900px);
    }
    .search-open {
        right: calc(50vw - 600px);
    }

    .edit {
        right: calc(50vw - 675px);
    }
    .edit-open {
        right: calc(50vw - 600px);
    }

    .volume {
        right: calc(50vw - 600px)
    }
    .audio-preset {
        right: calc(50vw - 829px)
    }
    .audio-preset-open {
        right: calc(50vw - 600px)
    }

    .info {
        right: calc(50vw - 600px)
    }
}
